.mx-context-menu.message-context-menu {
  /* padding: 4px;
  margin: 0 8px; */
  border-radius: 4px;
  padding: 0;
}

.mx-context-menu-item {
  border-radius: 4px;
  /* padding: 8px; */

}
.mx-context-menu-item .label {
    font-size: 14px;
}

.mx-context-menu-item .mx-checked-mark,
.mx-context-menu-item .mx-right-arrow {
  fill: #9c9c9c;
}
.mx-context-menu-item.open .mx-checked-mark,
.mx-context-menu-item.open .mx-right-arrow {
  fill: #3c3c3c;
}

