@font-face {
	font-family: "imfont";
	src: url('./imfont.ttf');
}

.imfont {
	font-family: "imfont" !important;
	font-size: 18px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-quote-left:before {
  content: "\e7f5";
}

.icon-quote-right:before {
  content: "\e663";
}

.icon-mark:before {
  content: "\e63d";
}

.icon-filter:before {
  content: "\e64b";
}

.icon-orderby-asc:before {
  content: "\e6be";
}

.icon-orderby-desc:before {
  content: "\e6c0";
}

.icon-reminder:before {
  content: "\e758";
}

.icon-time:before {
  content: "\e651";
}

.icon-date:before {
  content: "\e661";
}

.icon-radio:before {
  content: "\e6df";
}

.icon-radio-filled:before {
  content: "\e6e0";
}

.icon-check:before {
  content: "\e6f5";
}

.icon-check-filled:before {
  content: "\e6f6";
}

.icon-media-card-filled:before {
  content: "\e74a";
}

.icon-media-card:before {
  content: "\e750";
}

.icon-ding:before {
  content: "\eb55";
}

.icon-rollback:before {
  content: "\e738";
}

.icon-ding-1:before {
  content: "\e739";
}

.icon-close:before {
  content: "\e73a";
}

.icon-huanyuan:before {
  content: "\e73b";
}

.icon-lianjie:before {
  content: "\e73e";
}

.icon-fuzhi:before {
  content: "\e73f";
}

.icon-forbidden-filled:before {
  content: "\e740";
}

.icon-forbidden:before {
  content: "\e741";
}

.icon-vote:before {
  content: "\e743";
}

.icon-slapped:before {
  content: "\e744";
}

.icon-zuidahua:before {
  content: "\e745";
}

.icon-zuixiaohua:before {
  content: "\e747";
}

.icon-settop:before {
  content: "\e748";
}

.icon-vote-filled:before {
  content: "\e749";
}

.icon-girl:before {
  content: "\e74b";
}

.icon-boy:before {
  content: "\e74c";
}

.icon-settings:before {
  content: "\e711";
}

.icon-video-tape-1:before {
  content: "\e6f1";
}

.icon-chat:before {
  content: "\e6f3";
}

.icon-link:before {
  content: "\e601";
}

.icon-zan-filled:before {
  content: "\e6c7";
}

.icon-zan:before {
  content: "\e6c8";
}

.icon-heart-filled:before {
  content: "\e637";
}

.icon-heart:before {
  content: "\eb52";
}

.icon-offical:before {
  content: "\e752";
}

.icon-coin:before {
  content: "\e60c";
}

.icon-crown:before {
  content: "\e600";
}

.icon-red-envelope:before {
  content: "\e679";
}

.icon-money:before {
  content: "\e609";
}

.icon-menu:before {
  content: "\e72c";
}

.icon-menu-sub:before {
  content: "\e72d";
}

.icon-keyboard-normal:before {
  content: "\e72e";
}

.icon-undo:before {
  content: "\e634";
}

.icon-paperplane:before {
  content: "\e608";
}

.icon-location:before {
  content: "\e645";
}

.icon-mic:before {
  content: "\e6cb";
}

.icon-course:before {
  content: "\e713";
}

.icon-message:before {
  content: "\e714";
}

.icon-person:before {
  content: "\e642";
}

.icon-qrcode:before {
  content: "\e61b";
}

.icon-person-add:before {
  content: "\e6c4";
}

.icon-person-filled:before {
  content: "\e719";
}

.icon-person-group:before {
  content: "\e71a";
}

.icon-mute:before {
  content: "\e712";
}

.icon-mute-1:before {
  content: "\eb54";
}

.icon-keyboard-copy:before {
  content: "\e71c";
}

.icon-more-vh:before {
  content: "\eb53";
}

.icon-arrow-down:before {
  content: "\eb56";
}

.icon-sound:before {
  content: "\e667";
}

.icon-phone-filled:before {
  content: "\e678";
}

.icon-san:before {
  content: "\e6cc";
}

.icon-plus:before {
  content: "\e6cd";
}

.icon-minus:before {
  content: "\e6ce";
}

.icon-search:before {
  content: "\e6d0";
}

.icon-phone:before {
  content: "\e705";
}

.icon-back:before {
  content: "\e6f2";
}

.icon-play:before {
  content: "\e6f7";
}

.icon-keyboard:before {
  content: "\e6f9";
}

.icon-video-tape:before {
  content: "\e6fa";
}

.icon-camera:before {
  content: "\e6fb";
}

.icon-arrow-right:before {
  content: "\e71b";
}

.icon-video:before {
  content: "\e6fc";
}

.icon-folder:before {
  content: "\e6fe";
}

.icon-image:before {
  content: "\e6ff";
}

.icon-arrow-up:before {
  content: "\e700";
}

.icon-mic-filled:before {
  content: "\e701";
}

.icon-sound2:before {
  content: "\e702";
}

.icon-face:before {
  content: "\e703";
}

.icon-more:before {
  content: "\e704";
}

.icon-edit:before {
  content: "\e706";
}

.icon-share:before {
  content: "\e708";
}

.icon-loading1:before {
  content: "\e709";
}

.icon-loading:before {
  content: "\e70a";
}

.icon-warn:before {
  content: "\e70b";
}

.icon-download:before {
  content: "\e70c";
}

.icon-delete:before {
  content: "\e70d";
}

.icon-upload:before {
  content: "\e70e";
}

.icon-star-filled:before {
  content: "\e70f";
}

.icon-star:before {
  content: "\e710";
}

.icon-arrow-left:before {
  content: "\eb57";
}
